<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Grocy Desktop" Language="1033" Version="2.9.0.0" Manufacturer="Bernd Bestel" UpgradeCode="78f7234c-0724-4b82-8ff7-4ca0e8761871">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="ERP beyond your fridge" Manufacturer="Bernd Bestel" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Icon Id="icon.ico" SourceFile="$(var.SolutionDir)grocy-desktop\grocy-desktop_icon.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<Feature Id="ProductFeature" Title="Grocy Desktop Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="RESOURCES_DE" />
			<ComponentRef Id="RESOURCES_EL" />
			<ComponentRef Id="RESOURCES_HE_IL" />
			<ComponentRef Id="RESOURCES_ID" />
			<ComponentRef Id="RESOURCES_ID_ID" />
			<ComponentRef Id="RESOURCES_FI" />
			<ComponentRef Id="RESOURCES_FR_FR" />
			<ComponentRef Id="RESOURCES_PL" />
			<ComponentRef Id="RESOURCES_PT_BR" />
			<ComponentRef Id="RESOURCES_ZH_CN" />
			<ComponentRef Id="RESOURCES_ZH_TW" />
			<ComponentRef Id="RESOURCES_CS" />
			<ComponentRef Id="RESOURCES_ES" />
			<ComponentRef Id="RESOURCES_IT" />
			<ComponentRef Id="RESOURCES_LT" />
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
			<Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Start Grocy Desktop after finishing installation" />

		<Property Id="WixShellExecTarget" Value="[INSTALLFOLDER]grocy-desktop.exe" />
		<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
		
		<Upgrade Id="6BFE12C7-63CC-48DB-BCFC-7A7DE95D72C1">
			<UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND" Minimum="1.0.0.0" IncludeMinimum="yes" Maximum="99.0.0.0" IncludeMaximum="no" />
		</Upgrade>
	
		<CustomAction Id="CleanAdditionalFiles" Directory="ProgramFiles64Folder" ExeCommand="cmd /C &quot;rd /S /Q .\grocy-desktop&quot;" Execute="deferred" Return="ignore" HideTarget="no" Impersonate="no" />
		<InstallExecuteSequence>
			<Custom Action="CleanAdditionalFiles" Before="RemoveFiles" >
				REMOVE="ALL"
			</Custom>
		</InstallExecuteSequence>
	</Product>

	<Fragment>
		<SetProperty Id="ProgramFilesFolder" Value="[ProgramFiles64Folder]" Before="CostFinalize"><![CDATA[NOT Privileged]]></SetProperty>
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="grocy-desktop">
					<Directory Id="RESOURCES_DE" Name="de" />
					<Directory Id="RESOURCES_EL" Name="el" />
					<Directory Id="RESOURCES_HE_IL" Name="he-IL" />
					<Directory Id="RESOURCES_ID" Name="id" />
					<Directory Id="RESOURCES_ID_ID" Name="id-ID" />
					<Directory Id="RESOURCES_FI" Name="fi" />
					<Directory Id="RESOURCES_FR_FR" Name="fr-FR" />
					<Directory Id="RESOURCES_PL" Name="pl" />
					<Directory Id="RESOURCES_PT_BR" Name="pt-BR" />
					<Directory Id="RESOURCES_ZH_CN" Name="zh-CN" />
					<Directory Id="RESOURCES_ZH_TW" Name="zh-TW" />
					<Directory Id="RESOURCES_CS" Name="cs" />
					<Directory Id="RESOURCES_ES" Name="es" />
					<Directory Id="RESOURCES_IT" Name="it" />
					<Directory Id="RESOURCES_LT" Name="lt" />
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder" />
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>

	<Fragment>
		<DirectoryRef Id="ProgramMenuFolder">
			<Component Id="ApplicationShortcut" Guid="5B9422D4-A456-4CCE-8A0F-0810175D3C6C">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="Grocy" Description="ERP beyond your fridge" Target="[INSTALLFOLDER]grocy-desktop.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ProgramMenuFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\grocy-desktop" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="5CD9307F-C3DE-45FC-A3E8-B5B4A96BFDAF">
				<Shortcut Id="ApplicationDesktopShortcut" Name="Grocy" Description="ERP beyond your fridge" Target="[INSTALLFOLDER]grocy-desktop.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\grocy-desktop" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Guid="1C4E283B-5834-4027-A753-AE150FA5B650">
				<File Id="PrimaryApplicationExecutable" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\grocy-desktop.exe" KeyPath="yes" Checksum="yes"></File>
				<File Id="PrimaryApplicationExecutableConfig" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\grocy-desktop.exe.config"></File>
				<File Id="NewtonsoftJsonDependency" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\Newtonsoft.Json.dll"></File>
				<File Id="CefSharpDependency1" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\CefSharp.Core.dll"></File>
				<File Id="CefSharpDependency2" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\CefSharp.dll"></File>
				<File Id="CefSharpDependency3" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\CefSharp.WinForms.dll"></File>
				<File Id="GrocyReleasePackage" Source="$(var.SolutionDir)embedded_dependencies\grocy.zip"></File>
				<File Id="BarcodeBuddyReleasePackage" Source="$(var.SolutionDir)embedded_dependencies\barcodebuddy.zip"></File>
				<File Id="NginxPackage" Source="$(var.SolutionDir)embedded_dependencies\nginx.zip"></File>
				<File Id="PhpPackage" Source="$(var.SolutionDir)embedded_dependencies\php.zip"></File>
				<File Id="VcredistPackage" Source="$(var.SolutionDir)embedded_dependencies\vcredist.zip"></File>
				<File Id="CefSharpPackage" Source="$(var.SolutionDir)embedded_dependencies\cef.zip"></File>
				<RemoveFolder Id="PurgeAppFolder" Directory="INSTALLFOLDER" On="uninstall" />
			</Component>
		</ComponentGroup>
		<Component Id="RESOURCES_DE" Directory="RESOURCES_DE">
			<File Id="LocalizationResourcesDe" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\de\grocy-desktop.resources.dll" KeyPath="yes" Checksum="yes"></File>
		</Component>
		<Component Id="RESOURCES_EL" Directory="RESOURCES_EL">
			<File Id="LocalizationResourcesEl" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\el\grocy-desktop.resources.dll" KeyPath="yes" Checksum="yes"></File>
		</Component>
		<Component Id="RESOURCES_HE_IL" Directory="RESOURCES_HE_IL">
			<File Id="LocalizationResourcesHeIl" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\he-IL\grocy-desktop.resources.dll" KeyPath="yes" Checksum="yes"></File>
		</Component>
		<Component Id="RESOURCES_ID" Directory="RESOURCES_ID">
			<File Id="LocalizationResourcesId" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\id\grocy-desktop.resources.dll" KeyPath="yes" Checksum="yes"></File>
		</Component>
		<Component Id="RESOURCES_ID_ID" Directory="RESOURCES_ID_ID">
			<File Id="LocalizationResourcesIdId" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\id-ID\grocy-desktop.resources.dll" KeyPath="yes" Checksum="yes"></File>
		</Component>
		<Component Id="RESOURCES_FI" Directory="RESOURCES_FI">
			<File Id="LocalizationResourcesFi" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\fi\grocy-desktop.resources.dll" KeyPath="yes" Checksum="yes"></File>
		</Component>
		<Component Id="RESOURCES_FR_FR" Directory="RESOURCES_FR_FR">
			<File Id="LocalizationResourcesFrFr" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\fr-FR\grocy-desktop.resources.dll" KeyPath="yes" Checksum="yes"></File>
		</Component>
		<Component Id="RESOURCES_PT_BR" Directory="RESOURCES_PT_BR">
			<File Id="LocalizationResourcesPtBr" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\pt-BR\grocy-desktop.resources.dll" KeyPath="yes" Checksum="yes"></File>
		</Component>
		<Component Id="RESOURCES_PL" Directory="RESOURCES_PL">
			<File Id="LocalizationResourcesPl" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\pl\grocy-desktop.resources.dll" KeyPath="yes" Checksum="yes"></File>
		</Component>
		<Component Id="RESOURCES_ZH_CN" Directory="RESOURCES_ZH_CN">
			<File Id="LocalizationResourcesZhCn" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\zh-CN\grocy-desktop.resources.dll" KeyPath="yes" Checksum="yes"></File>
		</Component>
		<Component Id="RESOURCES_ZH_TW" Directory="RESOURCES_ZH_TW">
			<File Id="LocalizationResourcesZhTw" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\zh-TW\grocy-desktop.resources.dll" KeyPath="yes" Checksum="yes"></File>
		</Component>
		<Component Id="RESOURCES_CS" Directory="RESOURCES_CS">
			<File Id="LocalizationResourcesCs" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\cs\grocy-desktop.resources.dll" KeyPath="yes" Checksum="yes"></File>
		</Component>
		<Component Id="RESOURCES_ES" Directory="RESOURCES_ES">
			<File Id="LocalizationResourcesEs" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\es\grocy-desktop.resources.dll" KeyPath="yes" Checksum="yes"></File>
		</Component>
		<Component Id="RESOURCES_IT" Directory="RESOURCES_IT">
			<File Id="LocalizationResourcesIt" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\it\grocy-desktop.resources.dll" KeyPath="yes" Checksum="yes"></File>
		</Component>
		<Component Id="RESOURCES_LT" Directory="RESOURCES_LT">
			<File Id="LocalizationResourcesLt" Source="$(var.SolutionDir)grocy-desktop\bin\$(var.Configuration)\lt\grocy-desktop.resources.dll" KeyPath="yes" Checksum="yes"></File>
		</Component>
	</Fragment>
</Wix>
